<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">1
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">4</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Angular kurulumu</h1>
      <p class="lead">Node.js indirilme ile başlanır. Şu adrese girilir. — https://nodejs.org/en/download/ . Ve kurulur.</p>

      <p class="lead">Sonra terminal ekranından “npm install -g typescript” typescript kurulur.</p>
      <p class="lead">Gerekli hazırlıklar yapıldıktan sonra sıra ile terminal ekranına Angular'ı kurmaya yarayacak komutlar:</p>
      <p class="lead">npm install -g @angular/cli</p>
      <p class="lead">ng new Proje_ismi</p>
      <p class="lead">cd Proje_ismi</p>
      <p class="lead">ng serve</p>
      <p class="lead">Kurulum ve çalıştırma başarı ile tamamlanmıştır.</p>
    </div>
  </div>
</div>
</body>
